<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
      
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
      
<h:head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="resources/css/estilos.css"/>
  <title><ui:insert name="title" /></title>
</h:head>

<h:body>
    <div id="layout">    
        <div id="header">
            <div id="logo"></div>
            <ui:include src="menu.xhtml"/>
        </div>     
        <div id="content">
            <ui:insert name="content">
                <span>Página en construcción</span>
            </ui:insert>
        </div>
        <div id="footer">
            <p><a href="http://www.ups.edu.ec">UPS ©</a></p>
        </div>
    </div>
</h:body>
</html>
