<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">

	<h:body>
	
	<ul id="menu">
		<li><a href="pagina1.hxhml">Pagina 1</a></li>
		<li><a href="pagina1.hxhml">Pagina 2</a></li>
		<li><a href="pagina1.hxhml">Pagina 2</a></li>
	</ul>
	
	</h:body>
	
	
</html>