body {
	background-color: aqua;
}

#logo {
	background-image: url("../img/logo.png");
	height: 130px;
	background-repeat: no-repeat;
	background-position: center;
}

#header {
	height: 15vh;
	display: block;
	width: 100%;
}

#content {
	min-height: 60vh;
}

#footer {
	text-align: center;
}

#menu {
	padding: 0;
}

#menu li {
	display: inline;
}

#menu li a {
	font-family: Arial;
	font-size: 11px;
	text-decoration: none;
	float: left;
	padding: 10px;
	background-color: #2175bc;
	color: #fff;
}

#menu li a:hover {
	background-color: #2586d7;
	margin-top: -2;
	padding-bottom: 12px;
	
}