<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html">
 
<ui:composition template="/WEB-INF/template/layout.xhtml">
    <ui:define name="title">
        <h:outputText value="#{msg.tituloPagina}" />
    </ui:define>
    <ui:define name="content">
        <h:form>
            <!-- contenido de la página-->
        </h:form>
    </ui:define>
 
</ui:composition>
</html>
